html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
  color: #19303d;
}

.in-app-container {
  height: 100vh; 
  display: flex;
}

.login-container {
  height: 100vh; 
  display: block;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #f3f5f6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: left; 
}

.nav-links a {
  color: #19303d;
  text-decoration: none;
  padding: 10px 0;
}

.nav-links a.active-link {
  font-weight: bold;
  color: #102a43;
}

.logout-link {
  cursor: pointer;
  padding: 10px 0;
  color: #19303d;
  align-self: left;
  position: absolute;
  bottom: 20px;
}

.centered-container {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow: scroll;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.dashboard-content {
  text-align: center;
  font-size: 1.5em;
  margin: 20px;
}

.centered-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100%;
  overflow: scroll;
}

.header-wrapper {
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.page-heading {
  font-size: 1.75rem;
  font-weight: 700;
  color: #1e293b; /* Slate-800 */
}

.page-subheading {
  font-size: 1.125rem;
  color: #475569; /* Slate-600 */
}